/* tutorlizard.css */

body {
    padding-top: 66px;
}

.banner {
    background-color: #9DB88C;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    
}

.banner-container {
    margin-top: 141px;
    max-width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    transition: filter 0.3s ease;
   /* filter: blur(5px);*/
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #2d4739;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    border-bottom: 1px solid #b0b0b0;
}

.title-2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #2d4739;
    margin-bottom: 20px;
    margin-top: 20px;
}

.title-3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #2d4739;
    margin-bottom: 20px;
    margin-top: 5px;
}

.text-red {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #b01e31;
    margin-bottom: 5px;
    margin-top: 5px;
}

.text-green {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #1b8c3b;
    margin-bottom: 5px;
    margin-top: 5px;
}

.text-bold {
    font-weight: bold;
}

.btn-light {
    background-color: #ededed;
}
.btn-light:hover {
    background-color: #9db88c;
    color: #ffffff;
}

.btn-details {
    background-color: #9db88c;
    font-weight: bold;
}

    .btn-details:hover {
        background-color: #2b4027;
        color: #ffffff;
    }

.btn-outline-dark {
    color: #ffffff;
    border-color: #ffffff;
    background-color: #2b4027;
}
    .btn-outline-dark:hover {
        background-color: #9db88c;
        color: #ffffff;
    }

.btn-dark {
    background-color: #2b4027;
    color: #ffffff;
}

    .btn-dark:hover {
        background-color: #9db88c;
        color: #000000;
    }

.message {
    padding-top: 30px;
}

.user-container {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.user-container-light {
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

/*.ad-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;*/
}

.login-grid {
    display: flex;
    gap: 20px;
}

.work-sans-lizardfont {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.montserrat-lizardfont {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.custom-link {
    color: #2b4027;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-decoration: none;
}
    .custom-link:hover {
        color: #2b4027;
    }

.custom-padding {
    padding: 5px;
}

.margin-bottom {
    margin-bottom: 25px;
}

.border-bottom {
    border-bottom: 1px solid #b0b0b0;
}

.border-top {
    border-top: 1px solid #b0b0b0;
}

.margin-top {
    margin-top: 200px;
}

.margin-top-small {
    margin-top: 20px;
}


/* Navbar styles */
.navbar {
    background-color: #2b4027;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

    .navbar-brand .logo {
        height: 40px;
        margin-right: 10px;
    }

.nav-link {
    color: #ffffff !important;
}

    .nav-link:hover {
        color: #9db88c !important;
    }

.navbar .form-control {
    border-radius: 0;
}

.navbar .btn-outline-light {
    color: white;
    border-color: white;
}

    .navbar .btn-outline-light:hover {
        color: #000000;
        background-color: #9db88c;
        border-color: #000000;
    }

.dropdown {
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

.dropdown:hover .dropdown-content {
    display: block;
}


/* BrowseAds style */
.ad-list-item {
    border-radius: 0px;
    background-color: #ededed;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.search-container {
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: #2b4027;
    background-color: #ffffff;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: black;
}

.ad-row-height {
    flex-wrap: wrap;
    height: 460px;
}

.button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}


/* AdDetails styles */

.table {
    margin-top: 20px;
}

.thead-dark {
    background-color: #2d4739;
    color: #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(45, 71, 57, 0.1);
}

.category-name {
    font-weight: 400;
    color: #3eed8f;
}


.ad-details {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

.ad-details-row {
    margin-bottom: 10px;
}

.ad-details-label {
    font-weight: 400;
    color: #2d4739;
}

.ad-details-value {
    color: #333333;
}

.ad-details-description {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

/* Schedule styles */

.schedule-container {
    margin-top: 20px;
}

.schedule-subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: #2d4739;
    margin-bottom: 15px;
}

.schedule-empty {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #555555;
    text-align: center;
}

.schedule-item {
    background-color: #f9f9f9;
    border-radius: 10px;
}

.schedule-item-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2d4739;
    margin-bottom: 10px;
}

.schedule-item-datetime {
    font-size: 1.1rem;
    color: #333333;
    margin-bottom: 5px;
}

.schedule-item-tutor, .schedule-item-requests, .schedule-item-accepted-student {
    font-size: 1rem;
    color: #555555;
}

.schedule-item-status {
    margin-top: 10px;
}

.status-accepted {
    color: #2e7320;
    font-weight: bold;
}

.status-pending {
    color: #d4a017;
    font-weight: bold;
}

.status-rejected {
    color: #d01717;
    font-weight: bold;
}

/* AvailableScheduleForAd styles */

.schedule-container {
    margin-top: 20px;
    color: #2e7320;
}

.schedule-item {
    background-color: #f9f9f9;
    border-radius: 10px;
}

.schedule-item-datetime {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.schedule-item-status {
    font-size: 1rem;
    color: #555555;
    margin-bottom: 10px;
}

.status-accepted {
    color: #2e7320;
    font-weight: bold;
}

.status-pending {
    color: #d4a017;
    font-weight: bold;
}

.status-rejected {
    color: #d01717;
    font-weight: bold;
}

.form-group .form-check-label {
    font-size: 0.9rem;
}

.btn-danger {
    background-color: #d01717;
    border-color: #d01717;
}

    .btn-danger:hover {
        background-color: #a91414;
        border-color: #a91414;
    }

