@{
    ViewData["Title"] = "Data";
}

<h1>Data</h1>
<ul class="list-group col-md-6 col-xl-3">
    <li class="list-group-item"><a asp-controller="User" asp-action="Index">Users</a></li>
    <li class="list-group-item"><a asp-controller="Ad" asp-action="Index">Ads</a></li>
    <li class="list-group-item"><a asp-controller="ScheduleItem" asp-action="Index">Schedule Items</a></li>
    <li class="list-group-item"><a asp-controller="AdRequest" asp-action="Index">Ad Requests</a></li>
    <li class="list-group-item"><a asp-controller="ScheduleItemRequest" asp-action="Index">Schedule Item Requests</a></li>
    <li class="list-group-item"><a asp-controller="Category" asp-action="Index">Categories</a></li>
</ul>