.schedule-container {
    background-color: slateblue;
    padding: 1rem;
    border-radius: 1rem;
}

    .schedule-container h3 {
    color:white;
    margin: 0;
    text-align: center;
    padding-bottom: 1rem;
}

.schedule-list {
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
}